html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

th, td {
   border-bottom: 1px solid #ddd;
   width: 350px;
   text-align:left;
}

.mainTable {
   text-align:center;
   vertical-align:top;
   width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}